img {
  max-width: 100%;
  display: inline-block;
}

.navbar-logo-left {
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#000, rgba(84, 87, 87, 0) 99.9%, rgba(0, 0, 0, 0));
  background-clip: border-box;
  line-height: 80px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1280px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  display: flex;
}

.nav-menu-wrapper {
  color: #fff;
  font-style: normal;
}

.nav-menu-two {
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: background-color .5s ease-in-out;
  display: inline;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
  -webkit-text-fill-color: transparent;
  background-color: #000;
  background-image: linear-gradient(to right, #59e4da, #6ebaf5 31%, #bd7bff 66%, #f38e78 100%, #90ccfc);
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  min-width: 160px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.body {
  color: #fff;
  background-color: #0d0d17;
}

.hero-heading-left {
  min-height: 760px;
  background-color: #0d0d17;
  border-bottom: 1px #e4ebf3;
  padding: 0 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 1280px;
  min-height: 760px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  min-height: 760px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  min-height: 460px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.margin-bottom-24px {
  z-index: 999;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
  position: relative;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.columns {
  z-index: 999;
  position: relative;
}

.features {
  max-height: 800px;
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#0d0d17, #18181d);
  border-bottom: 0 #e4ebf3;
  border-right: 0 #000;
  outline: 0 rgba(0, 0, 0, 0);
  padding: 40px 0 80px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 56px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.heading {
  font-family: Montserrat, sans-serif;
}

.heading-2 {
  max-width: 321px;
  outline-offset: 0px;
  outline: 3px #fff;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  overflow: visible;
}

.paragraph {
  max-width: 400px;
  color: #bcbccc;
}

.heading-3 {
  max-width: 321px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.paragraph-2 {
  max-width: 400px;
  color: #bcbccc;
  font-family: Montserrat, sans-serif;
}

.heading-4 {
  z-index: 999;
  padding-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  position: relative;
}

.list-item {
  margin-left: 40px;
}

.list-item-2, .list-item-3, .list-item-4 {
  margin-left: 20px;
}

.video {
  min-height: 460px;
  min-width: 690px;
}

.slider {
  min-height: auto;
  background-color: #0d0d17;
}

.image-2 {
  min-height: 460px;
  text-align: center;
}

.mask {
  min-height: 460px;
}

.slide {
  max-width: 100%;
}

.slide-2 {
  min-height: 460px;
}

.image-3 {
  z-index: auto;
  position: absolute;
  top: 140px;
  bottom: auto;
  left: 34%;
  right: auto;
}

.div-block {
  height: 400px;
  background-image: linear-gradient(rgba(116, 116, 130, .2), rgba(0, 0, 0, 0) 92.11%);
  border-radius: 40px;
  padding-top: 40px;
  padding-left: 40px;
}

.image-4 {
  max-width: 60%;
  padding-left: 0;
  position: absolute;
  top: 160px;
  left: 180px;
}

.image-5 {
  max-width: 45%;
  margin-left: 0;
  padding-left: 0;
  position: absolute;
  top: 150px;
  left: 200px;
}

.container-5 {
  max-width: 1280px;
  position: absolute;
  top: 300px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.heading-5, .paragraph-3, .paragraph-4 {
  text-align: center;
}

.divblock2 {
  height: 250px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(116, 116, 130, .2) 92.11%);
  border-radius: 40px;
  padding: 30px 20px;
  position: static;
}

.image-6 {
  max-width: 100%;
}

.paragraph-5 {
  font-size: 12px;
}

.testimonial-stack {
  background-color: #212123;
  background-image: url('../images/image-bg-bottomGrain.png');
  background-position: 50% 100%;
  background-size: auto;
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-card-three {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 30px 42px 90px;
}

.testimonial-card-content {
  max-width: 580px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.testimonial-card-heading {
  margin-bottom: 24px;
}

.testimonial-text-three {
  font-size: 24px;
  line-height: 32px;
}

.testimonial-info-four {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonial-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-image.centered {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  margin-right: 0;
}

.testimonial-author-name-three {
  margin-bottom: 10px;
}

.section {
  background-image: linear-gradient(#18181d, #212123);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-dark {
  background-color: #fff;
  border-bottom: 1px #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.columns-2 {
  text-align: left;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block {
  color: #cacacf;
  margin-top: 5px;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 8px;
  font-weight: 400;
}

.text-block-2 {
  color: #cacacf;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

.column-5 {
  text-align: right;
}

.container-9 {
  justify-content: flex-end;
  display: flex;
}

.text-block-3 {
  color: #cacacf;
  margin-top: 5px;
  margin-right: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 8px;
}

.list-item-5 {
  margin-left: 10px;
}

.heading-6, .heading-7 {
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

.paragraph-6 {
  color: #bcbccc;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.columns-3 {
  margin-top: 40px;
}

.image-10 {
  max-width: 70%;
}

.image-11 {
  max-width: 100%;
}

.image-11:hover {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
}

.list {
  display: flex;
}

.list-item-6, .list-item-7, .list-item-8 {
  margin-left: 10px;
}

.snsicon {
  color: #fff;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  position: static;
  top: 25%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.snsicon:hover {
  -webkit-text-fill-color: inherit;
  background-image: none;
  background-clip: border-box;
}

.div-block-2 {
  background-color: #d9d9d9;
  position: absolute;
}

.image-12 {
  position: absolute;
  top: 25%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.div-block-3 {
  width: 24px;
  height: 24px;
  position: relative;
}

@media screen and (min-width: 1920px) {
  .navbar-logo-left-container.shadow-three {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-two {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }

  .margin-bottom-24px {
    font-family: Inter, sans-serif;
  }

  .features {
    height: 830px;
    max-height: 830px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(#0d0d17, #18181d);
  }

  .container-3 {
    max-width: 1280px;
  }

  .centered-heading {
    margin-bottom: 56px;
  }

  .heading-3 {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .paragraph-2 {
    max-width: 100%;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }

  .heading-4 {
    padding-bottom: 20px;
  }

  .list-item {
    margin-left: 40px;
  }

  .list-item-2, .list-item-3, .list-item-4 {
    margin-left: 20px;
  }

  .image-3 {
    position: relative;
    top: 140px;
    bottom: auto;
    left: 340px;
    right: auto;
  }

  .container-4 {
    max-width: 1280px;
    min-height: 760px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .div-block {
    height: 500px;
    background-image: linear-gradient(rgba(116, 116, 130, .2), rgba(0, 0, 0, 0) 92.11%);
    border-radius: 40px;
    padding-top: 40px;
    padding-left: 40px;
  }

  .column, .column-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-4 {
    padding-left: 0;
    position: absolute;
    top: 180px;
    bottom: auto;
    left: 120px;
    right: auto;
  }

  .image-5 {
    position: absolute;
    top: 180px;
    left: 187px;
  }

  .container-5 {
    max-width: 1920px;
    position: absolute;
    top: 250px;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .container-6 {
    max-width: 716px;
    text-align: center;
    margin-bottom: 50px;
  }

  .heading-5 {
    margin-bottom: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 600;
  }

  .paragraph-3 {
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .paragraph-4 {
    color: #bcbccc;
    letter-spacing: .02em;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }

  .column-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .divblock2 {
    height: 310px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(116, 116, 130, .2) 92.11%);
    border-radius: 40px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .image-6 {
    margin-bottom: 52px;
  }

  .paragraph-5 {
    text-align: center;
    font-size: 16px;
  }

  .testimonial-stack {
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    -webkit-text-fill-color: inherit;
    background-color: #212123;
    background-image: url('../images/image-bg-bottomGrain.png');
    background-position: 50% 100%;
    background-size: 100% 500px;
    background-attachment: scroll;
    background-clip: border-box;
    border-bottom-style: none;
  }

  .container-7 {
    max-width: 1280px;
  }

  .testimonial-card-three {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 40px;
  }

  .container-8 {
    max-width: 1920px;
  }

  .image-7 {
    background-color: #212123;
  }

  .section {
    background-image: linear-gradient(#18181d, #212123);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-dark {
    height: 200px;
    background-color: #fff;
    border-bottom-style: none;
  }

  .footer-wrapper {
    max-width: 1280px;
  }

  .columns-2 {
    width: 100%;
  }

  .column-4 {
    text-align: left;
    padding-left: 0;
  }

  .text-block {
    color: #cacacf;
    margin-top: 15px;
    margin-left: 0;
    padding-right: 0;
    font-family: Montserrat, sans-serif;
  }

  .text-block-2 {
    color: #cacacf;
    font-family: Montserrat, sans-serif;
  }

  .column-5 {
    text-align: right;
  }

  .container-9 {
    text-align: right;
    justify-content: flex-end;
    display: flex;
  }

  .text-block-3 {
    color: #cacacf;
    text-align: center;
    margin-top: 15px;
    padding-right: 20px;
    font-family: Montserrat, sans-serif;
  }

  .image-8 {
    margin-left: 0;
    padding-left: 0;
  }

  .image-9 {
    margin-left: 0;
  }

  .list-item-5 {
    margin-left: 20px;
  }

  .heading-6, .heading-7 {
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .paragraph-6 {
    color: #bcbccc;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
  }

  .image-10 {
    max-width: 78%;
    font-size: 16px;
  }

  .list {
    display: flex;
  }

  .list-item-6, .list-item-7, .list-item-8 {
    margin-left: 10px;
  }

  .snsicon {
    position: static;
    top: 10%;
  }

  .snsicon:hover {
    opacity: 1;
  }

  .image-12 {
    width: 24px;
    height: 20px;
    opacity: 0;
  }

  .image-12:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    z-index: 0;
    min-height: 300px;
    background-color: #000;
    border-radius: 0;
    flex-flow: column wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 20px 20px 0 0;
    display: flex;
    position: relative;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .button-primary {
    min-width: 250px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .image {
    max-width: 100%;
    padding-top: 20px;
  }

  .hero-heading-left {
    min-height: 600px;
  }

  .container-2 {
    min-height: 500px;
  }

  .hero-wrapper {
    min-height: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    min-height: 250px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .margin-bottom-24px {
    z-index: 0;
    max-width: 80%;
  }

  .columns {
    z-index: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  .container-3 {
    max-width: 728px;
  }

  .centered-heading {
    margin-bottom: 40px;
    font-size: 25px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .heading-3 {
    max-width: 300px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph-2 {
    font-size: 8px;
  }

  .heading-4 {
    z-index: 0;
    padding-bottom: 0;
    font-size: 22px;
  }

  .list-item, .list-item-2, .list-item-3, .list-item-4 {
    margin-left: 0;
  }

  .slider {
    min-height: 250px;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .image-2 {
    min-height: 300px;
  }

  .mask {
    max-width: 60%;
    min-height: 250px;
    text-align: center;
  }

  .image-3 {
    max-width: 700px;
    display: block;
    top: 0;
    left: 0%;
    overflow: visible;
  }

  .container-4 {
    max-width: 700px;
    position: absolute;
    top: 32%;
    bottom: auto;
    left: 15%;
    right: auto;
  }

  .column, .column-2 {
    padding: 20px 10px;
  }

  .image-4 {
    max-width: 50%;
    top: 180px;
    left: 160px;
  }

  .image-5 {
    top: 160px;
    left: 165px;
  }

  .heading-5 {
    font-size: 25px;
  }

  .paragraph-3, .paragraph-4 {
    font-size: 12px;
  }

  .column-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container-7 {
    max-width: 728px;
  }

  .testimonial-card-content {
    padding-bottom: 20px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .column-5 {
    margin-top: 50px;
  }

  .heading-6, .heading-7 {
    font-size: 16px;
  }

  .paragraph-6 {
    font-size: 10px;
  }

  .column-6 {
    text-align: center;
    display: block;
  }

  .column-7 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-wrapper {
    height: 100%;
    max-height: 100%;
    min-height: 300px;
    flex-direction: row;
    flex: 0 auto;
    display: flex;
    position: absolute;
    overflow: visible;
  }

  .nav-menu-two {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    background-color: #0d0d17;
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .button-primary {
    min-width: 60%;
  }

  .hero-heading-left, .features {
    padding: 60px 15px;
  }

  .heading-3 {
    max-width: 100%;
    margin-top: 25px;
  }

  .paragraph-2 {
    max-width: 100%;
  }

  .list-item-3, .list-item-4 {
    margin-left: 0;
  }

  .image-3 {
    max-width: 550px;
  }

  .container-4 {
    top: 48%;
  }

  .column-2 {
    padding: 20px;
  }

  .heading-5 {
    margin-top: 30px;
  }

  .testimonial-stack {
    padding: 60px 15px;
  }

  .testimonial-text-three {
    font-size: 20px;
    line-height: 28px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .list {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .navbar-logo-left-container.shadow-three {
    padding: 10px;
  }

  .container {
    max-width: none;
  }

  .nav-menu-wrapper {
    min-height: 300px;
    flex-direction: row;
    display: flex;
  }

  .nav-menu-two {
    background-color: #000;
    flex-direction: column;
    padding-bottom: 0;
  }

  .button-primary {
    min-width: 50px;
    font-size: 10px;
    line-height: 14px;
  }

  .image {
    max-width: 60%;
    padding-top: 0;
    padding-left: 12px;
  }

  .hero-heading-left {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .container-2 {
    max-width: none;
  }

  .hero-split {
    max-height: 250px;
    min-height: 250px;
  }

  .margin-bottom-24px {
    max-width: 100%;
    color: #bcbccc;
    font-size: 10px;
    line-height: 15px;
  }

  .columns {
    font-size: 12px;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .heading-3 {
    max-width: 100%;
  }

  .heading-4 {
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
    overflow: visible;
  }

  .list-item-3, .list-item-4 {
    margin-left: 0;
  }

  .slider {
    min-height: 150px;
    justify-content: center;
  }

  .image-2 {
    min-height: 200px;
  }

  .mask {
    max-width: 100%;
    min-height: 250px;
  }

  .slide-2 {
    min-height: auto;
  }

  .image-3 {
    max-width: 350px;
  }

  .container-4 {
    max-width: 400px;
    top: 45%;
    left: 11%;
  }

  .div-block {
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .column {
    padding-left: 0;
    padding-right: 0;
  }

  .column-2 {
    padding: 10px 0 20px;
  }

  .image-4 {
    top: 180px;
    left: 120px;
  }

  .image-5 {
    left: 140px;
  }

  .container-6 {
    display: block;
  }

  .heading-5 {
    margin-top: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
  }

  .paragraph-4 {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
  }

  .divblock2 {
    height: 230px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .container-7 {
    max-width: none;
  }

  .testimonial-card-three {
    padding-left: 24px;
    padding-right: 24px;
  }

  .testimonial-info-four {
    text-align: center;
    flex-direction: column;
  }

  .text-block {
    font-size: 4px;
  }

  .columns-3 {
    margin-top: 20px;
  }

  .column-6 {
    line-height: 20px;
  }
}


